body{
    margin: 0;
}
span{
    color: orangered;
}
.order{
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    background-image: linear-gradient(salmon, orangered);
}
.section{
    margin: 5%;
    display: flex;
    

}
.half{
    width: 70%;
    padding: 10%;
}
.half img{
    width: 80%;
}
.bg2{
    background-image: url(7.png);
    margin: 0;
    background-repeat: no-repeat;
   background-size: 100%;
   
}
.middle-photo{
    
}